<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="title icon" href="images/title-img.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="css/datatables.min.css" rel="stylesheet">
    <link href="css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Laundry Dong Dashboard</title>
  </head>
  <body>

    <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-light">
      <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse" data-target="#myNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="myNavbar">
        <div class="container-fluid">
          <div class="row">

            <!-- sidebar -->
            <div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
              <a href="#" class="navbar-brand text-white d-block mx-auto text-center py-3 mb-4 bottom-border">Laundry Dong</a>
              <div class="bottom-border pb-3">
                <img src="images/admin.png" width="35" class="rounded-circle mr-3">
                <div class="text-white d-inline">Admin</div>
              </div>
              <ul class="navbar-nav flex-column mt-3">
                <li class="nav-item"><a href="index.html" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-home text-light fa-lg mr-3"></i>Dashboard</a></li>
                <li class="nav-item"><a href="transaksi.html" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-credit-card text-light fa-lg mr-3"></i>Transaksi</a></li>
                <li class="nav-item"><a href="produk.html" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-edit text-light fa-lg mr-3"></i>Produk</a></li>
                <li class="nav-item"><a href="pegawai.html" class="nav-link text-white p-3 mb-2 sidebar-link current"><i class="fas fa-user text-light fa-lg mr-3"></i>Pegawai</a></li>
                <li class="nav-item"><a href="pelanggan.html" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-users text-light fa-lg mr-3"></i>Pelanggan</a></li>
                <li class="nav-item"><a href="laporan.html" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-chart-bar text-light fa-lg mr-3"></i>Laporan</a></li>
                <li class="nav-item"><a href="pengaturan.html" class="nav-link text-white p-3 mb-2 sidebar-link"><i class="fas fa-wrench text-light fa-lg mr-3"></i>Pengaturan</a></li>s
              </ul>
            </div>
            <!-- end of sidebar -->

            <!-- top-nav -->
            <div class="col-xl-10 col-lg-9 col-md-8 ml-auto bg-dark fixed-top pt-2 pb-3 top-navbar">
              <div class="row align-items-center">
                <div class="col-md-9">
                  <h4 class="text-light text-uppercase mb-0">Pegawai</h4>
                </div>
                <div class="col-md-3">
                  <ul class="navbar-nav">
                    <li class="nav-item ml-md-auto"><a href="#" class="nav-link text-danger" data-toggle="modal" data-target="#modalSignOut">Log Out<i class="fas fa-sign-out-alt fa-lg text-danger py-10 ml-3"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- end of top-nav -->

          </div>
        </div>
      </div>
    </nav>
    <!-- end of navbar -->

    <!-- modal -->
      <div class="modal fade" id="modalSignOut">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-tittle">Ingin keluar dari halaman?</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              Tekan keluar untuk pergi
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-dismiss="modal">Tetap Disini</button>
              <button type="button" class="btn btn-danger"><a href="login.html" class="link-style-none text-white">Keluar</a></button>
            </div>
          </div>
        </div>
      </div>
    <!-- end of modal -->

    <!-- table -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
          <div class="row pt-md-5 mt-md-4 mb-5">
            <div class="col-sm-12 mb-0">
              <div class="card shadow">
                <div class="card-header py-3">
                  <h5 class="m-0 font-weight-bold text-muted">Data Pegawai</h5>
                </div>
                <div class="card-body pb-0">
                  <table id="dtBasicExample" class="table table-striped table-bordered table-style-css" style="width:100%">
                    <thead>
                      <tr>
                        <th class="font-weight-bold">ID</th>
                        <th class="th-sm font-weight-bold">Nama</th>
                        <th class="th-sm font-weight-bold">Posisi</th>
                        <th class="th-sm font-weight-bold">Email</th>
                        <th class="th-sm font-weight-bold">Umur</th>
                        <th class="th-sm font-weight-bold">Gender</th>
                        <th class="th-sm font-weight-bold">Start date</th>
                        <th class="th-sm font-weight-bold">Gaji</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Asep1</td>
                        <td>Manager</td>
                        <td>asep1@gmail.com</td>
                        <td>61</td>
                        <td>Pria</td>
                        <td>2011/04/25</td>
                        <td>Rp320,800</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Asep2</td>
                        <td>Penyetrika</td>
                        <td>asep2@gmail.com</td>
                        <td>63</td>
                        <td>Pria</td>
                        <td>2011/07/25</td>
                        <td>Rp170,750</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Asep3</td>
                        <td>Kasir</td>
                        <td>asep3@gmail.com</td>
                        <td>66</td>
                        <td>Pria</td>
                        <td>2009/01/12</td>
                        <td>Rp86,000</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>Asep4</td>
                        <td>Penyetrika</td>
                        <td>asep4@gmail.com</td>
                        <td>22</td>
                        <td>Pria</td>
                        <td>2012/03/29</td>
                        <td>Rp433,060</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>Asep5</td>
                        <td>Manager</td>
                        <td>asep5@gmail.com</td>
                        <td>33</td>
                        <td>Pria</td>
                        <td>2008/11/28</td>
                        <td>Rp162,700</td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td>Asep6</td>
                        <td>Pencuci</td>
                        <td>asep6@gmail.com</td>
                        <td>61</td>
                        <td>Pria</td>
                        <td>2012/12/02</td>
                        <td>Rp372,000</td>
                      </tr>
                      <tr>
                        <td>7</td>
                        <td>Asep7</td>
                        <td>Kasir</td>
                        <td>asep7@gmail.com</td>
                        <td>59</td>
                        <td>Pria</td>
                        <td>2012/08/06</td>
                        <td>Rp137,500</td>
                      </tr>
                      <tr>
                        <td>8</td>
                        <td>Asep8</td>
                        <td>Pencuci</td>
                        <td>asep8@gmail.com</td>
                        <td>55</td>
                        <td>Pria</td>
                        <td>2010/10/14</td>
                        <td>Rp327,900</td>
                      </tr>
                      <tr>
                        <td>9</td>
                        <td>Asep9</td>
                        <td>Penyetrika</td>
                        <td>asep9@gmail.com</td>
                        <td>39</td>
                        <td>Pria</td>
                        <td>2009/09/15</td>
                        <td>Rp205,500</td>
                      </tr>
                      <tr>
                        <td>10</td>
                        <td>Asep10</td>
                        <td>Pencuci</td>
                        <td>asep10@gmail.com</td>
                        <td>23</td>
                        <td>Pria</td>
                        <td>2008/12/13</td>
                        <td>Rp103,600</td>
                      </tr>
                      <tr>
                        <td>11</td>
                        <td>Asep11</td>
                        <td>Admin</td>
                        <td>asep11@gmail.com</td>
                        <td>30</td>
                        <td>Pria</td>
                        <td>2008/12/19</td>
                        <td>Rp90,560</td>
                      </tr>
                      <tr>
                        <td>12</td>
                        <td>Asep12</td>
                        <td>Pencuci</td>
                        <td>asep12@gmail.com</td>
                        <td>22</td>
                        <td>Pria</td>
                        <td>2013/03/03</td>
                        <td>Rp342,000</td>
                      </tr>
                      <tr>
                        <td>13</td>
                        <td>Asep13</td>
                        <td>penjemur</td>
                        <td>asep13@gmail.com</td>
                        <td>36</td>
                        <td>Pria</td>
                        <td>2008/10/16</td>
                        <td>Rp470,600</td>
                      </tr>
                      <tr>
                        <td>14</td>
                        <td>Asep14</td>
                        <td>Pemasaran</td>
                        <td>asep14@gmail.com</td>
                        <td>43</td>
                        <td>Pria</td>
                        <td>2012/12/18</td>
                        <td>Rp313,500</td>
                      </tr>
                      <tr>
                        <td>15</td>
                        <td>Asep15</td>
                        <td>Penyetrika</td>
                        <td>asep15@gmail.com</td>
                        <td>19</td>
                        <td>Pria</td>
                        <td>2010/03/17</td>
                        <td>Rp385,750</td>
                      </tr>
                      <tr>
                        <td>16</td>
                        <td>Asep16</td>
                        <td>Penyetrika</td>
                        <td>asep16@gmail.com</td>
                        <td>66</td>
                        <td>Pria</td>
                        <td>2012/11/27</td>
                        <td>Rp198,500</td>
                      </tr>
                      <tr>
                        <td>17</td>
                        <td>Asep17</td>
                        <td>Pemasaran</td>
                        <td>asep17@gmail.com</td>
                        <td>64</td>
                        <td>Pria</td>
                        <td>2010/06/09</td>
                        <td>Rp725,000</td>
                      </tr>
                      <tr>
                        <td>18</td>
                        <td>Asep18</td>
                        <td>penjemur</td>
                        <td>ase18p@gmail.com</td>
                        <td>59</td>
                        <td>Pria</td>
                        <td>2009/04/10</td>
                        <td>Rp237,500</td>
                      </tr>
                      <tr>
                        <td>19</td>
                        <td>Asep19</td>
                        <td>Pencuci</td>
                        <td>asep19@gmail.com</td>
                        <td>41</td>
                        <td>Pria</td>
                        <td>2012/10/13</td>
                        <td>Rp132,000</td>
                      </tr>
                      <tr>
                        <td>20</td>
                        <td>Asep20</td>
                        <td>penjemur</td>
                        <td>asep20@gmail.com</td>
                        <td>35</td>
                        <td>Pria</td>
                        <td>2012/09/26</td>
                        <td>Rp217,500</td>
                      </tr>
                      <tr>
                        <td>21</td>
                        <td>Asep21</td>
                        <td>Manager</td>
                        <td>asep21@gmail.com</td>
                        <td>30</td>
                        <td>Pria</td>
                        <td>2011/09/03</td>
                        <td>Rp345,000</td>
                      </tr>
                      <tr>
                        <td>22</td>
                        <td>Asep22</td>
                        <td>Kasir</td>
                        <td>asep22@gmail.com</td>
                        <td>40</td>
                        <td>Pria</td>
                        <td>2009/06/25</td>
                        <td>Rp675,000</td>
                      </tr>
                      <tr>
                        <td>23</td>
                        <td>Asep23</td>
                        <td>Penyetrika</td>
                        <td>asep23@gmail.com</td>
                        <td>21</td>
                        <td>Pria</td>
                        <td>2011/12/12</td>
                        <td>Rp106,450</td>
                      </tr>
                      <tr>
                        <td>24</td>
                        <td>Asep24</td>
                        <td>Pencuci</td>
                        <td>asep24@gmail.com</td>
                        <td>23</td>
                        <td>Pria</td>
                        <td>2010/09/20</td>
                        <td>Rp85,600</td>
                      </tr>
                      <tr>
                        <td>25</td>
                        <td>Asep25</td>
                        <td>Pencuci</td>
                        <td>asep25@gmail.com</td>
                        <td>47</td>
                        <td>Pria</td>
                        <td>2009/10/09</td>
                        <td>Rp1,200,000</td>
                      </tr>
                      <tr>
                        <td>26</td>
                        <td>Asep26</td>
                        <td>Penyetrika</td>
                        <td>asep26@gmail.com</td>
                        <td>42</td>
                        <td>Pria</td>
                        <td>2010/12/22</td>
                        <td>Rp92,575</td>
                      </tr>
                      <tr>
                        <td>27</td>
                        <td>Asep27</td>
                        <td>penjemur</td>
                        <td>asep27@gmail.com</td>
                        <td>28</td>
                        <td>Pria</td>
                        <td>2010/11/14</td>
                        <td>Rp357,650</td>
                      </tr>
                      <tr>
                        <td>28</td>
                        <td>Asep28</td>
                        <td>Pencuci</td>
                        <td>asep28@gmail.com</td>
                        <td>28</td>
                        <td>Pria</td>
                        <td>2011/06/07</td>
                        <td>Rp206,850</td>
                      </tr>
                      <tr>
                        <td>29</td>
                        <td>Asep29</td>
                        <td>Pencuci</td>
                        <td>asep29@gmail.com</td>
                        <td>48</td>
                        <td>Pria</td>
                        <td>2010/03/11</td>
                        <td>Rp850,000</td>
                      </tr>
                      <tr>
                        <td>30</td>
                        <td>Asep30</td>
                        <td>Penyetrika</td>
                        <td>asep30@gmail.com</td>
                        <td>20</td>
                        <td>Pria</td>
                        <td>2011/08/14</td>
                        <td>Rp163,000</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of table -->

    <!-- form -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
          <div class="row mb-5">
            <div class="col-sm-12 mb-0">
              <div class="card shadow">
                <div class="card-header py-3">
                  <h5 class="m-0 font-weight-bold text-muted">Tambah Pegawai</h5>
                </div>
                <div class="card-body pb-0">
                  <form action="#!">
                    <div class="form-group mb-4">
                      <label class="control-label col-sm-5 font-weight-bold" for="nama">Nama</label>
                      <div class="col-sm-10 position-relative">
                        <input type="text" class="form-control" id="nama" name="nama" placeholder="Masukan nama">
                        <i class="fas fa-user position-absolute text-muted icon-in-field" tabindex=0></i>
                      </div>
                    </div>
                    <div class="form-group mb-4">
                      <label class="control-label col-sm-5 font-weight-bold" for="email">Email</label>
                      <div class="col-sm-10 position-relative">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Masukan email">
                        <i class="fas fa-envelope position-absolute text-muted icon-in-field" tabindex=0></i>
                      </div>
                    </div>
                    <div class="form-group mb-4">
                      <label class="control-label col-sm-5 font-weight-bold" for="umur">Umur</label>
                      <div class="col-sm-10 position-relative">
                        <input type="number" class="form-control" id="umur" name="umur" placeholder="Masukan umur">
                        <i class="fas fa-sort-numeric-up position-absolute text-muted icon-in-field" tabindex=0></i>
                      </div>
                    </div>
                    <div class="form-group mb-4">
                      <label class="control-label col-sm-5 font-weight-bold">Gender</label>
                      <div class="col-sm-10">
                        <select class="browser-default custom-select" name="gender">
                          <option selected disabled>Pilih jenis kelamin...</option>
                          <option value="pria">Pria</option>
                          <option value="wanita">Wanita</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group mb-4">
                      <label class="control-label col-sm-5 font-weight-bold">Posisi</label>
                      <div class="col-sm-10">
                        <select class="browser-default custom-select" name="posisi">
                          <option selected disabled>Pilih posisi...</option>
                          <option value="manager">Manager</option>
                          <option value="pemasaran">Pemasaran</option>
                          <option value="kasir">Kasir</option>
                          <option value="pencuci">Pencuci</option>
                          <option value="admin">Admin</option>
                          <option value="penjemur">Penjemur</option>
                          <option value="penyetrika">Penyetrika</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group mb-4">
                      <label class="control-label col-sm-5 font-weight-bold">Start Date</label>
                      <div class="input-group col-sm-10 position-relative date">
                        <input placeholder="Pilih tanggal" type="text" class="form-control datepicker" name="start-date">
                        <i class="fas fa-calendar position-absolute text-muted icon-in-field" tabindex=0></i>
                      </div>
                    </div>
                    <div class="form-group mb-4">
                      <label class="control-label col-sm-5 font-weight-bold" for="gaji">Gaji Pegawai</label>
                      <div class="col-sm-10 position-relative">
                        <input type="number" class="form-control" id="gaji" name="gaji" placeholder="Masukan gaji">
                        <i class="fas fa-dollar-sign position-absolute text-muted icon-in-field" tabindex=0></i>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default form-button">Submit</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of form -->

    <!-- footer -->
    <footer>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-10 col-lg-9 col-md-8 ml-auto bg-white pt-3">
            <div class="row">
              <div class="col-lg-6 footer-font-size footer-center">
                <ul class="list-inline">
                  <li class="list-inline-item mr-2">
                    <a href="#" class="text-dark">About</a>
                  </li>
                  <li class="list-inline-item mr-2">
                    <a href="#" class="text-dark">Contact</a>
                  </li>
                  <li class="list-inline-item mr-2">
                    <a href="#" class="text-dark">Support</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6 footer-font-size d-flex justify-content-end footer-center delete-display-flex">
                <p>Copyright &copy; 2020 <a href="#">Kelompok5</a>. All Rights Reserved</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- end of footer -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/datatables.min.js"></script>
    <script src="js/bootstrap-datepicker.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
